body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #393e46;
}

p {
  text-align: center;
  font-size: 14px;
}

.card-body {
  max-width: 600px;
  margin: 30px auto;
  border: 3px solid;
  border-color: #35d0ba;
  border-radius: 10px;
}

ul {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  margin-top: 15px;
  text-align: center;
}

.weather-forecast-date {
  opacity: 0.6;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

#temp {
  font-size: 45px;
}
